/* Sumair editing in src => CustomStyles.css */
/* .wrapperCustomStyle
{
    overflow: scroll;
    overflow-x: hidden;
} */

* {
    box-sizing: border-box;
  }


.barCustomStyle
{
    background-color: #d9d9d9;
    padding: 20px;
}

.barProductCustomStyle
{
    background-color: #f0f0f0;
    display: flex;
    height: 170px;
}

#topImageCustomStyle
{
    margin-left: 25px;
}

.cardIimageTopCustomStyle {
    /* width: 100%; */
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    margin: auto;
}

.buttonCustomStyle {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.roundedCustomStyle {
    border-radius: 0.25rem!important;
}

.mr2CustomStyle {
    margin-right: 0.5rem!important;
}

.buttonSuccessCustomStyle {
    color: #fff;
    background-color: #6315b8;
    border-color: #6315b8;
}

a
{
    text-decoration: none;
}

a:hover
{
    color: white;
}

.buttonViewCustomStyle {
    width: 150px;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1pxsolidrgba(0,0,0,.125);
}

.centerCustomStyle
{
    justify-content: center !important;
}

.ralewayCustomStyle
{
    font-family: Raleway;
}

.userDescriptionCustomStyle > ul
{
    list-style: none;
    margin-left: -38px;
    font-size: 15px;
}

.heading4CustomStyle
{
    font-size: 16px;
    margin-left: 2px;
    margin-bottom: 25px;
    margin-top: -15px;
}

.screenshot-thumb {
    vertical-align: middle;
    max-width: 100%;
    max-height: 96px;
}

.spanCustomStyle {
    /* color: #343a40;
    font-weight: bold;
    font-size: 43px;
    margin-left: 30px;
    margin-top: -13px; */
    color: #343a40;
    font-weight: bold;
    font-size: 36px;
    margin-left: 12px;
    margin-top: -10px;
}

.selectCustomStyle
{
    display: flex;

}


.cardCustomStyle
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    /* flex-direction: column; */
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.mtCustomStyle
{
    margin-top: 1rem!important;
}

.boxShadowCustomStyle {
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}

.guaranteeBoxCustomStyle {
    padding: 10px;
    display: flex;
    width: 303px;
    /* margin-left: -24px; */
    align-self: center;
}

.guaranteeIconCustomStyle {
    display: inline-block;
}

.moneyBackTextCustomStyle {
    display: inline-block;
    position: relative;
    top: 10px;
    line-height: 20px;
    left: 13px;
    font-size: 15px;
}

.guaranteeBoxCustomStyle strong {
    color: #d69208;
}

strong {
    font-weight: bold;
    line-height: inherit;
}

.guaranteeBoxCustomStyle1
{
    padding: 10px;
}

.img1CustomStyle
{
    /* width: 55px;
    height: 55px;
    overflow: hidden; */
    width: 94px;
    height: 80px;
}

.avatarBox img {
    border-radius: 50%;
    display: inline-block;
    float: left;
}


.authorInfo {
    padding-left: 18px;
    position: relative;
    top: 3px;
    padding: 0px;
    margin-left: -15px;
    margin-top: 10px;
    float: left;
    left: 20px;
    line-height: 16px;
}

.authorInfo a
{
    color: #92024A;
    cursor: pointer;
}


.authorInfo .authorName {
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 6px;
    width: 153px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#aArdianFollow
{
    margin-left: 35px;
    margin-top: 18px;
    /* width: 74px; */
    /* float: right; */
    position: relative;
    /* top: -3px; */
    top: -5px;
    left: -28px;
    padding-left: 12px !important;
    height: 39px;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
}

tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.sellingNowCustomStyle
{
    border-radius: 5px;
    padding-left: 5em;
    padding-right: 5em;

    color: #fff;
    font-weight: normal;
    background: #6315b8;

    padding-top: 0.8em;
    padding-bottom: 0.8em;

    display: inline-block;
    vertical-align: middle;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: Raleway;

}

.sellingNowCustomStyle:hover
{
    color: white;
}

.h4CustomStyle
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
}

.portfolio-link
{
    color: green;
}

.cardFollowCustomStyle
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    /* flex-direction: column; */
    /* min-width: 0; */
    height: 135px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.DiveCustomStyle
{
    display: flex;
    flex-direction: column;
}

.buttonSuccessFollowCustomStyle {
    color: #fff;
    background-color: green;
    border-color: #6315b8;
}

.newBox1CustomStyle
{
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

.userProfileNameCustomStyle
{
    position: relative;
    right: -215px;
}

.questionMarkIconCustomStyle
{
    font-size: 25px;
    margin-left: 20px;
    margin-right: 8px;
    margin-top: 7px;
}

.ant-form-item-label
{
    display: contents;
}

.dashboardBarsCustomStyle
{
    padding-block: 25px;
    padding-inline: 140px;
    background-color: rgb(0 0 0 / 12%);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    color: indianred;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }

  .flex-container {
    display: flex;
    /* background-color: DodgerBlue; */
    background-color: rgb(0 0 0 / 12%);
  }
  
  .flex-container > div {
    /* background-color: #f1f1f1; */
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    justify-content: flex-end;
  }

.userProfileHeadCustomStyle
{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
    color: #343a40 !important;
    padding: 1.5rem !important;
    margin-bottom: 1rem !important;
    background-color: #f8f9fa !important;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.containerCustomStyle
{
    max-width: 1086px;
}

.authorInfoRowCustomStyle
{
    min-height: 132px;
}

.firstColumnCustomStyle
{
    float: left;
    width: 60%;
    display: flex;
}

.secondColumnCustomStyle
{
    width: 40%;
    float: right;
}

.authorTitleCustomStyle
{
    margin-left: 25px;
}

.authorTitleCustomStyle .nameCustomStyle
{
    font-weight: bold;
    margin-top: 2px;
    font-size: 30px;
}

.authorTitleCustomStyle .typeCustomStyle
{
    font-size: 17px;
}

.productsCustomStyle
{
    font-weight: 700;
    font-size: 23px;
    position: relative;
    left: -6px;
    margin-bottom: 20px;
}

.servicesHeadCustomStyle
{
    min-height: 200px;
    background-color: rebeccapurple;
    background-image: linear-gradient(45deg, #fb4174, transparent);
}

.servicesHeadCustomStyle .servicesHeadingCustomStyle
{
    line-height: 200px;
    margin-left: 60px;
}

/* Create two equal columns that floats next to each other */
.twoColumnCustomStyle {
    float: left;
    width: 50%;
    padding: 10px;
    /*height: 300px;*/                  /* Should be removed. Only for demonstration */
}
  
/* Clear floats after the columns */
.rowCustomStyle:after {
content: "";
display: table;
clear: both;
}

/* Create three equal columns that floats next to each other */
.threeColumnCustomStyle {
    float: left;
    width: 30%;
    padding: 10px;
    height: 340px; /* Should be removed. Only for demonstration */
    margin-right: 25px;
}

.iconCustomStyle
{
    border-radius: 50%;
    font-size: 24px;
    padding: 15px;
    height: 70px;
    width: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-bottom: 25px;
    background-color: #D16FF1;
    color: white;
}

.tijarahButtonCustomStyle
{
    display: inline-block;
    padding: 12px 40px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    vertical-align: middle;
    background: linear-gradient(to right, #FF416C, #FF4B2B);
}

.joinUsCustomStyle
{
    min-height: 175px;
    background: linear-gradient(to right, #FF416C, #FF4B2B);
}

.process1CustomStyle
{
    min-height: 175px;
    background-color: #4c4c4c;
}

.process2CustomStyle
{
    text-align: center;
}

/* .parent {
height: 200px;
background: #CCCCCC;
display: flex;
align-items: center;
justify-content: center;
}
.child {
background-color: #FFFF00;
width: 100px;
height: 100px;
} */

.process3CustomStyle
{
    color: white;
    line-height: 170px;
    font-family: cursive;
}

.process4CustomStyle
{
    min-height: 150px;
}

.process5CustomStyle
{
    text-align: center;
    padding-top: 46px;
    padding-inline: 110px;
}

.process6CustomStyle
{
    height: 100px;
    background-color: #0f8c46;   
}

.process7CustomStyle
{
    text-align: center;
    line-height: 100px;
}

/* Create two unequal columns that floats next to each other */
.twoUnEqualColumnCustomStyle {
    float: left;
    padding: 10px;
    height: 190px; /* Should be removed. Only for demonstration */
}
  
.leftCustomStyle {
width: 25%;
}

.rightCustomStyle {
width: 75%;
}

.process8CustomStyle
{
    font-family: Rubik;
    font-size: 16px;
}

.packages1CustomStyle
{
    min-height: 175px;
    background-color: #4c4c4c;
}

.packages2CustomStyle
{
    text-align: center;
    padding-top: 60px;
}

.packages3CustomStyle
{
    color: white;
    font-family: system-ui;
    font-size: 25px;
}


.packages4CustomStyle
{
    color: white;
    font-family: cursive;
    margin-top: -15px;
}

.twoUnEqualColumn1234CustomStyle
{
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left1234CustomStyle
{
    width: 75%;
}

.right1234CustomStyle
{
    width: 25%;
}

.packages5CustomStyle
{
    height: auto;
    width: 100%;
}

.twoUnEqualColumn1234CustomStyle ul > li
{
    margin: 20px 0;
    list-style-type: circle;
}

.packages6CustomStyle
{
    height: 100px;
    background-color: #eaeaea;
}


.packages7CustomStyle
{
    line-height: 100px;
    font-size: 20px;
    padding: 25px;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgb(109, 109, 109);
    padding-inline: 70px;
}

.packages8CustomStyle
{
    font-size: 30px;
    font-family: system-ui;
    margin-left: 20px;
}

.packages9CustomStyle
{
    height: 100px
}

.packages10CustomStyle
{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 40px;
}

.packages10CustomStyle a
{
    text-decoration: none;
    color: black;
}

.buyerFaqs1CustomStyle
{
    color: #F4821F;
    font-weight: 600;
    font-family: inherit;
}

.fourEqualColumnCustomStyle {
    float: left;
    width: 22%;
    padding: 10px;
    height: 260px; /* Should be removed. Only for demonstration */
    margin-right: 25px;
    border-radius: 10px;
    padding-left: 20px;
}

.earning1CustomStyle
{
    background-image: linear-gradient(45deg,#7441db,#c89cff);
}

.earning2CustomStyle
{
    background-image: linear-gradient(45deg,#b02940,#fcc173);
}

.earning3CustomStyle
{
    background-image: linear-gradient(45deg,#226cc5,#6cd975);
}

.earning4CustomStyle
{
    background-image: linear-gradient(45deg,#7441db,#f9877c);
}


.earning5CustomStyle
{
    color: white;
    font-family: system-ui;    
}

.earning6CustomStyle
{
    color: white;
    font-family: system-ui;
    font-size: 15px;
    margin-top: -15px;
}

.earning7CustomStyle
{
    letter-spacing: .03rem;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    color: white;
    padding: 20px 0px 10px 20px;
}

.earning8CustomStyle
{
    text-align: center;
    color: white;
}

.earning9CustomStyle
{
    font-size: 1.1rem;
    cursor: pointer;
}

.earning10CustomStyle
{
    border-radius: 1.5rem;
    background-color: #d5f1fd!important;
    color: #2f8be6!important;
    border-color: #d5f1fd;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.4rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.earning11CustomStyle
{
    cursor: pointer;
    font-size: 1.1rem;
}

.earning12CustomStyle
{
    color: #fff!important;
    text-align: center!important;
    margin-bottom: 1.5rem!important;
    margin-top: 1.5rem!important;
    display: block;
}


.earning13CustomStyle
{
    font-size: 3rem!important;
    line-height: 2.95rem;
    margin-bottom: 0.5rem!important;
    display: block!important;
}

.earning14CustomStyle
{
    font-size: 3rem!important;
    line-height: 2.95rem;
    color: white;
}

.earning15CustomStyle
{
    font-size: 1.1rem!important;
}

.earning16CustomStyle
{
    font-size: 1.0rem!important;
    text-align: center!important;
    margin-top: -0.25rem!important;
    color: #bdbdbd!important;
}


.earning17CustomStyle
{
    font-size: .8rem!important;
    color: #bdbdbd!important;
    letter-spacing: .3px;
    margin-top: -12px;
}

.earning18CustomStyle
{
    text-align: center!important;
    margin-top: 0.85rem!important;
}

.earning19CustomStyle
{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.4rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 0.35rem;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #efdeff!important;
    color: #975aff!important;
    border-color: #efdeff;
    cursor: pointer;
}



/* ............................................................. */

/* expand and collapse css */

.collapsible {
    /* background-color: #777; */
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* .active, .collapsible:hover {
    background-color: #555;
  } */
  
  .collapsible:after {
    content: '\002B';
    color: white;
    background-color: black;
    font-weight: bold;
    float: left;
    margin-left: 5px;
    margin-right: 20px;
    padding: 0px 10px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    padding-left: 75px;
    padding-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: #f1f1f1; */
    color: #7F8184;
  }

/* ........................................................... */

.contact1CustomStyle
{
    min-height: 200px;
    background-color: rebeccapurple;
    background: linear-gradient(to right, #FF416C, #FF4B2B);
}

.contact2CustomStyle
{
    line-height: 200px;
    margin-left: 60px;
}


.contact3CustomStyle
{
    font-weight: 700;
    text-align: center;
    font-family: system-ui;
    font-size: 28px;
}

.contact4CustomStyle
{
    text-align: center;
    padding-inline: 295px;
    color: #7F8184;
    font-family: Rubik;
}

.contact5CustomStyle
{
    max-width: 512px;
    margin: auto;
}

/* .ant-input
{
    border-radius: 25px;
    padding: 10px;
    font-family: Rubik;
    padding-left: 25px;
} */

.apexcharts-tooltip-title{
    display: none;
}

/* .ant-table-cell
{
    background-color: azure;
}

.ant-table-thead
{
    background-color: azure;
}

.ant-table-thead .ant-table-cell
{
    background-color: azure;
} */

/* .ant-upload-picture-card-wrapper
{
    padding-left: 200px;
} */